<!DOCTYPE html>
<!--
       444444444       000000000      333333333333333
      4::::::::4     00:::::::::00   3:::::::::::::::33
     4:::::::::4   00:::::::::::::00 3::::::33333::::::3
    4::::44::::4  0:::::::000:::::::03333333     3:::::3
   4::::4 4::::4  0::::::0   0::::::0            3:::::3
  4::::4  4::::4  0:::::0     0:::::0            3:::::3
 4::::4   4::::4  0:::::0     0:::::0    33333333:::::3
4::::444444::::4440:::::0 000 0:::::0    3:::::::::::3
4::::::::::::::::40:::::0 000 0:::::0    33333333:::::3
4444444444:::::4440:::::0     0:::::0            3:::::3
          4::::4  0:::::0     0:::::0            3:::::3
          4::::4  0::::::0   0::::::0            3:::::3
          4::::4  0:::::::000:::::::03333333     3:::::3
        44::::::44 00:::::::::::::00 3::::::33333::::::3
        4::::::::4   00:::::::::00   3:::::::::::::::33
        4444444444     000000000      333333333333333
-->

<html>
  <head>
    <title>403 - Forbidden</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <style>
      html, body {
        background-color: #E9EAED;
        font-family: 'Lato', sans-serif;
        text-align: center;
      }

      .main {
        color: #444;
      }

      h1 {
        font-size: 10em;
        margin-bottom: 0.3em;
      }

      .navigation-dock {
        list-style-type: none;
      }

      .navigation-dock li {
        display: inline-block;
        padding: 0 0.5em;
      }
    </style>
  </head>
  <body>

    <div class="page">
      <div class="main">
        <h1>
          403
        </h1>
        <div>
          <% if (typeof error !== 'undefined') { %>
          <%= error %>
          <% } else { %>
          You don't have permission to see the page you're trying to reach.
          <% } %>
        </div>
        <p class="help">
          <a href="http://en.wikipedia.org/wiki/HTTP_403">Why</a> might this be happening?
        </p>
      </div>

      <div class="navigation">
        <ul class="navigation-dock">
          <li><a href="/">Home</a></li>
          <li><a href="#">Report</a></li>
        </ul>
      </div>
    </div>

  </body>
</html>
