<!DOCTYPE html>
<!--
555555555555555555      000000000          000000000
5::::::::::::::::5    00:::::::::00      00:::::::::00
5::::::::::::::::5  00:::::::::::::00  00:::::::::::::00
5:::::555555555555 0:::::::000:::::::00:::::::000:::::::0
5:::::5            0::::::0   0::::::00::::::0   0::::::0
5:::::5            0:::::0     0:::::00:::::0     0:::::0
5:::::5555555555   0:::::0     0:::::00:::::0     0:::::0
5:::::::::::::::5  0:::::0 000 0:::::00:::::0 000 0:::::0
555555555555:::::5 0:::::0 000 0:::::00:::::0 000 0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
5555555     5:::::50::::::0   0::::::00::::::0   0::::::0
5::::::55555::::::50:::::::000:::::::00:::::::000:::::::0
 55:::::::::::::55  00:::::::::::::00  00:::::::::::::00
   55:::::::::55      00:::::::::00      00:::::::::00
     555555555          000000000          000000000
-->
<html>
  <head>
    <title>500 - Internal Server Error</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <style>
      html, body {
        background-color: #E9EAED;
        font-family: 'Lato', sans-serif;
        text-align: center;
      }

      .main {
        color: #444;
      }

      h1 {
        font-size: 10em;
        margin-bottom: 0.3em;
      }

      .navigation-dock {
        list-style-type: none;
      }

      .navigation-dock li {
        display: inline-block;
        padding: 0 0.5em;
      }
    </style>
  </head>
  <body>

    <div class="page">
      <div class="main">
        <h1>
          500
        </h1>
        <div>
          Looks like our server failed to load your request
        </div>
      </div>

      <div class="navigation">
        <ul class="navigation-dock">
          <li><a href="/">Home</a></li>
          <li><a href="#">Report</a></li>
        </ul>
      </div>
    </div>

  </body>
</html>
