<h1>Restauranteers</h1>

<p>
  <em>Homeworks can be fun</em> :-)
</p>

<p>
  Restauranteers is a final project developed for the Software Engineering course in the Polytechnic University of Tirana. The application shows a list of restaurants (including their menus) and allows users write reviews about them.

  The application is built using a full-stack JavaScript solution:
  <ul>
    <li><a href="https://www.mongodb.org/">MongoDB</a> for the database</li>
    <li><a href="http://sailsjs.org/">Sails.js</a>, a <a href="http://nodejs.org/">Node.js</a> framework for the back-end logic
    </li>
    <li><a href="http://angularjs.org/">AngularJS</a> in the front</li>
  </ul>
</p>
