<h1>Join Restauranteers </h1>
<section class="loginform cf">
	<form name="login" action="index_submit" method="get" accept-charset="utf-8">
	  <div class="form-group">
      <label for="fullname">Full Name</label>
			<input type="text" class="form-control" name="fullname" placeholder="Your name goes here" required>
		</div>

	   <div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control" name="username" placeholder="Username" required>
	  </div>

    <div class="form-group">
			<label for="usermail">Email</label>
			<input type="email" class="form-control" name="usermail" placeholder="yourname@email.com" required>
	  </div>

  	<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>

		<div class="form-group">
      <a href="register.html"><button type="button" class="btn btn-block btn-success"> Sign Up</button></a>
      <a href="login.html">Already have an account?</a>
		</div>
	</form>
</section>
