<form action="/register" method="post">
  <input type="text" name="first_name" placeholder="First Name"><br>
  <input type="text" name="last_name" placeholder="Last Name"><br>
  <input type="email" name="email" placeholder="Email"><br>
  <input type="text" name="username" placeholder="Pick a username"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <input type="password" name="password_repeat" placeholder="Repeat password"><br>
  <button type="submit">Register</button>
</form>
