<ul class="nav nav-pills nav-stacked nav-tabs" id="settings" role="tablist">
  <li role="presentation" class="active">
    <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">
      Contact Info
    </a>
  </li>

  <li role="presentation">
    <a href="#password" aria-controls="password" role="tab" data-toggle="tab">
      Reset Password
    </a>
  </li>

  <li role="presentation">
    <a href="#developer" aria-controls="developer" role="tab" data-toggle="tab">
      Developer
    </a>
  </li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="contact">
    Contact
  </div>

  <div role="tabpanel" class="tab-pane fade" id="password">
    Password
  </div>

  <div role="tabpanel" class="tab-pane fade" id="developer">
    Developer
  </div>
</div>

<script type="text/javascript">
$('#settings a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
});
</script>
